@model LAB_11._2_CoffeeShop.Models.MemberRegistration;

@{
    ViewData["Title"] = "Registration Confirmation";
}

<h1>Registration Confirmation</h1>

<div>
    <h4>Welcome!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @{
                long.TryParse(Model.Mobile, out long phoneNumberLong);
                string s = string.Format("{0: (###) ###-####}", phoneNumberLong);
            }
            @s
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Model.BirthMonth/@Model.BirthDay/@Model.BirthYear
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Model.Gender
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Model.Password
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Newsletter)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Newsletter == true)
                {
                    string str = "Thank you for signing up for our monthly newsletter.";
                    @str
                }
                else
                {
                    string str = "You can sign up anytime!";
                    @str
                }
            }
        </dd>
        <dd class="col-sm-10">
            A confirmation email has been sent to @Model.Email<br />
            Once you confirm, please enjoy a free latte on us!
        </dd>
    </dl>
</div>

